{% extends "Shop/base.html" %}

{% block base %}
<div class="slider">

    <div class="events">
        <img class="prod_img" src="media/main.png">
        <a class="prod_link" href="#">Перейти</a>
        <p class="title01">Тут події 1</p>
    </div>

    <div class="events">
        <img class="prod_img" src="media/main.png">
        <a class="prod_link" href="#">Перейти</a>
        <p class="title01">Тут події 2</p>
    </div>

    <div class="events">
        <img class="prod_img" src="media/main.png">
        <a class="prod_link" href="#">Перейти</a>
        <p class="title01">Тут події 3</p>
    </div>

    <div class="events">
        <img class="prod_img" src="media/main.png">
        <a class="prod_link" href="#">Перейти</a>
        <p class="title01">Тут події 4</p>
    </div>

    <div class="clear"></div>
</div>

<div class="button_div">

</div>


<div class="content_mode">

    {% for new in news %}
    <div class="mode_div">

        {% if forloop.counter|divisibleby:2 %}
        <div class="img_mode_r">
            <img class="img_mod" src="{{ new.n_img.url }}">
        </div>
        <a class="title" href="{% url 'new' id=new.id %}">{{ new.title }}</a>
        <p class="rule_description">{{ new.description|truncatewords:70 }}</p>
        <a class="prod_link" href="{% url 'new' id=new.id %}">Детальніше</a>


        {% else %}
        <div class="img_mode_l">
            <img class="img_mod" src="{{ new.n_img.url }}">
        </div>
        <a class="title" href="{% url 'new' id=new.id %}">{{ new.title }}</a>
        <p class="rule_description">{{ new.description|truncatewords:70 }}</p>
        <a class="prod_link" href="{% url 'new' id=new.id %}">Детальніше</a>


        {% endif %}

    </div>
    {% endfor %}


</div>

{% endblock %}